.message {
    width: 100%;
    border: 1px solid rgba(131, 179, 119, 0.6);
    border-radius: 4px;
    padding: 1rem;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.message h3 {
    margin-bottom: 1rem;
}

.timestamp {
    float: right;
    font-size: 0.8rem;
    font-style: italic;
    color: rgba(128, 128, 128, 0.6);
}

.message p {
    margin-bottom: 1rem;
}

.become-member-message {
    /* font-size: 0.8rem; */
    font-weight: normal;
    font-style: italic;
    color: rgba(128, 128, 128, 0.6);
}

.delete-message {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.delete-message svg {
    fill: rgba(128, 128, 128, 0.7);
    width: 1rem;
    height: auto;

    transition: fill ease 0.3s;
}

.delete-message svg:hover {
    fill: #c294dce2;
    width: 1rem;
    height: auto;
}