<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <nav>
            <section class="nav-section-left">
                <a href="/">Home</a>
            </section>
            <section class="nav-section-right">
                <% if (isAuthenticated) { %>
                    <a href="/member">Member</a>
                    <a href="/auth/logout">Logout</a>
                <% } else { %>
                    <a href="/auth/sign-up">Sign Up</a>
                    <a href="/auth/login">Login</a>
                <% } %>
            </section>
        </nav>
    <hr>
    </header>
</body>