<link rel="stylesheet" href="/css/message-view.css">

<section class="message-view">
    <% messages.forEach(message => { %> 
        <%- include('../components/message', { message, isMember, isAdmin }) %>
    <% }) %>
</section>